@{
    Layout = null;
    Layout = "~/Views/Shared/_LayoutAdminData.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>厂商管理</title>
</head>
<body>

    @*----------------搜索开始----------------*@
    <div id="searchDiv" style="margin:5px 0;">
      
        <label for="systemName" style="font-size:14px;">平台名：</label> <input class="easyui-textbox" id="systemName" name="systemName" />
        <label for="companyName" style="font-size:14px;">公司名：</label> <input class="easyui-textbox" id="companyName" name="companyName" />
        <label for="companyName" style="font-size:14px;">频道推荐：</label> 
        <select id="rec" class="easyui-combobox" style="width:120px; " panelheight="auto">
           <option value="" selected="selected">频道推荐全部</option>
            <option value="0">未推荐</option>
            <option value="1">已推荐</option>
        </select>
        <label for="companyName" style="font-size:14px;">首页推荐：</label> 
        <select id="rec_index" class="easyui-combobox" style="width:120px; " panelheight="auto">
            <option value="" selected="selected">首页推荐全部</option>
            <option value="0">未推荐</option>
            <option value="1">已推荐</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'" id="btnSearch">查询</a>
    </div>
    @*----------------搜索结束----------------*@
    <table id="companyInfo"></table>
    @*-------------------------修改的对话框的div-------------------------*@
    <div id="editDiv" style="display:none">
        <iframe id="frameEdit" src="javascript:void(0)" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</body>
</html>
<script type="text/javascript">

    $(function () {
        initTb();
        //隐藏添加的表单
        $("#setRoleDiv").css("display", "none");
        $("#setActionDiv").css("display", "none");
        //绑定搜索的点击事件
        $("#btnSearch").click(function () {
            //搜索后台的数据。
            var queryData = {          
                systemName: $("#systemName").val(),
                companyName: $("#companyName").val(),
                        rec: $("#rec").combobox('getValue'),
                  rec_index: $("#rec_index").combobox('getValue'),
            };
            initTb(queryData);
        });
    });
    //读取基本信息的表
    function initTb(queryParam) {
        $('#companyInfo').datagrid({
            title: '信息列表展示',
            idField: 'Id',
            fitColumns: true,//列自适应。
            collapsible: false,
            minimizable: false,
            maximizable: false,
            resizable: true,
            fit: true,
            loadMsg: '正在加载，请稍稍候...',
            striped: true,
            url: '/Company/GetRecCompanyInfos',
            nowrap: true,
            singleSelect: false,//单行选中
            rownumbers: true,  //显示行号
            pagination: true,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100],
            queryParams: queryParam,//请求的额外的参数。
            toolbar: '#tb',
            columns: [[
                { field: 'ck', checkbox: true },               
                { field: 'SystemName', title: '厂商平台名', width: 250 },                
                   {
                       field: 'CompanyName', title: '公司名称', width: 350
                   },                                  
                     {
                         field: 'InTime', title: '注册时间', width: 250,
                         formatter: function (value, row, Index) {//  /Date(1377327062000)/
                             return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")))
                                 .pattern("yyyy-M-d H:m:s");
                         }
                     },
                     {
                         field: 'Rec_Index', title: '首页推荐', width: 120,
                         formatter: function (value, row, Index) {
                             if (value == "1") {
                                 return "<a class='recIndex_State' href='javascript:void(0)' uId='" + row.Id + "'style='color:#13629D;font-size: 14px' >是</a>";
                             } else if (value == "0") {
                                 return "<a class='recIndex_State' href='javascript:void(0)' uId='" + row.Id + "'style='color:#13629D;font-size: 14px' >否</a>";
                             }
                         }
                     },
                      {
                          field: 'Rec_Index_Time', title: '首页推荐时间', width: 250,
                          formatter: function (value, row, Index) {//  /Date(1377327062000)/
                              return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")))
                                  .pattern("yyyy-M-d H:m:s");
                          }
                      },
                      {
                          field: 'Rec_Forum_Index', title: '频道推荐', width: 120,
                          formatter: function (value, row, Index) {
                              if (value == "1") {
                                  return "<a class='recForum_State' href='javascript:void(0)' uId='" + row.Id + "'style='color:#13629D;font-size: 14px' >是</a>";
                              } else if (value == "0") {
                                  return "<a class='recForum_State' href='javascript:void(0)' uId='" + row.Id + "'style='color:#13629D;font-size: 14px' >否</a>";
                              }
                          }
                      },
                       {
                           field: 'Rec_Forum_Index_Time', title: '频道推荐时间', width: 250,
                           formatter: function (value, row, Index) {//  /Date(1377327062000)/
                               return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")))
                                   .pattern("yyyy-M-d H:m:s");
                           }
                       },

             
              
            ]],
            toolbar: [
               {
                   id: 'btnSetRole',
                   text: "<span style='color:red;font-weight:600;font-size:16px'>一键清空</span>",
                   iconCls: 'icon-redo',
                   handler: clearSeting
               },
              
            ],
            onHeaderContextMenu: function (e, field) {
            },
            onLoadSuccess: onGridLoadSuccess//表格加载完成之后，调用此事件响应方法。
        });
        // 设置页脚
        var p = $('#companyInfo').datagrid('getPager')
        $(p).pagination({
            beforePageText: '第',
            afterPageText: '页  共{pages} 页',
            displayMsg: '当前显示 {from}-{to} 条记录   共 {total} 条记录'
        });
    }
    //表格加载完成之后，调用此事件响应方法。
    function onGridLoadSuccess(data) {
        //推荐首页
        $(".recIndex_State").click(function () {
            var strId = $(this).attr("uId");
            $.messager.confirm("温馨提示", "您确认要推荐<span style ='color:red'>或</span>取消到首页吗？", function (r) {
                if (r) {
                    changeIndexState(strId);
                } $('#companyInfo').datagrid("clearSelections");
            });
        });
        //推荐板块
        $(".recForum_State").click(function () {
            var strId = $(this).attr("uId");
            $.messager.confirm("温馨提示", "您确认要推荐<span style ='color:red'>或</span>取消到频道吗？", function (r) {
                if (r) {
                    changeForumState(strId);
                } $('#companyInfo').datagrid("clearSelections");
            });
        });
    }

    function changeIndexState(strId) {
        $.post("/Company/Rec_CpyChangeState", { id: strId, recParam: "rec" }, function (data) {
            if (data == "ok") {
                //刷新表格
                $('#companyInfo').datagrid("reload");//代用表格的重新加载的方法。
            } else if (data == "fail") {
                $.messager.show("提示", "推荐或取消到首页失败了！");
            }
            else {
                $.messager.alert("温馨提示", "系统异常请稍候再试！");
            }
        });
    };
    function changeForumState(strId) {
        $.post("/Company/Rec_CpyChangeState", { id: strId, recParam: "recForum" }, function (data2) {
            if (data2 == "ok") {
                $('#companyInfo').datagrid("reload");//代用表格的重新加载的方法。
            } else if (data2 == "fail") {
                $.messager.show("提示", "推荐或取消到频道失败了！");
            }
            else {
                $.messager.alert("温馨提示", "系统异常请稍候再试！");
            }
        });
    };
    //一键清空
    function clearSeting() {
        var allSelectedRows = $('#companyInfo').datagrid('getSelections');
        //判断是否选择行
        if (!allSelectedRows || allSelectedRows.length == 0) {
            $.messager.alert('提示', '请先选择要清空的数据！', 'info');
            return;
        }
        //先让用户确认是否要审核通过。
        $.messager.confirm("Messager：", "请确认是否要将这些数据清空？", function (r) {
            if (r) {
                //发送异步请求道后台，删除数据
                //1,5,8
                var strIds = "";
                for (var i in allSelectedRows) {
                    strIds += allSelectedRows[i].Id + ",";
                }
                strIds = strIds.substr(0, strIds.lastIndexOf(','));
                moreClear(strIds);
            }
            $('#companyInfo').datagrid("clearSelections");
        });
    }
    //批量清空
    function moreClear(strIds) {
        $.post("/Company/Clear_CpyState", { ids: strIds }, function (data) {
            if (data == "ok") {
                $('#companyInfo').datagrid("reload");//代用表格的重新加载的方法。
                $('#companyInfo').datagrid("clearSelections");
            } else {
                $.messager.alert("提示", "审核失败！");
            }
        });
    }
</script>