@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>找回密码</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #f0f0f0;
            font-family: "microsoft yahei";
            color: #4c4c4c;
        }

        * {
            font-family: "microsoft yahei";
        }

        input {
            outline: none;
        }

        a {
            color: #90C41F;
        }

            a:hover {
                color: #7bab14;
            }

        .container {
            width: 1000px;
            margin: 0 auto;
            background: #F0F0F0;
            /*overflow: hidden;*/
        }

            .container .tittop {
                background: #F0F0F0;
                color: #90c41f;
                font-size: 30px;
                font-weight: bold;
                line-height: 120px;
                margin: 0;
            }

                .container .tittop img {
                    vertical-align: middle;
                    margin-right: 10px;
                }

                .container .tittop span {
                    float: right;
                    display: block;
                    font-size: 14px;
                    color: #808080;
                }

                    .container .tittop span > a {
                        color: #767676;
                        text-decoration: none;
                        background-image: url(/Content/Img/103.jpg);
                        background-repeat: no-repeat;
                        background-position: left;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 30px;
                        margin-left: 10px;
                        font-weight: normal;
                    }

                    .container .tittop span b {
                        font-weight: normal;
                    }

        input {
            border-radius: 4px;
            border: 0;
            outline: none;
        }

        i {
            font-style: normal;
        }

        .hide {
            display: none;
        }

        .show {
            display: block;
        }

        .zhmm01 {
            background: #fff;
            width: 960px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.18);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.18);
            box-shadow: 0 0 10px rgba(0,0,0,.18);
            padding: 20px;
            /*text-align: center;*/
        }

            .zhmm01 .top01 {
                margin: 0;
                margin-bottom: 80px;
                font-size: 12px;
                font-family: "宋体";
                color: #808080;
            }

                .zhmm01 .top01 b {
                    font-size: 24px;
                    color: #808080;
                    margin-right: 10px;
                }

            .zhmm01 .zcsj {
                width: 350px;
                height: 40px;
                padding-left: 10px;
                background: #fafafa;
                border: 1px solid #e5e5e5;
                font-size: 16px;
                color: #b3b3b3;
            }

                .zhmm01 .zcsj:focus {
                    background: #fff;
                    border: 1px solid #90C41F;
                }

            .zhmm01 #pwdnext {
                width: 360px;
                height: 40px;
                padding-left: 10px;
                background: #90C41F;
                border: 1px solid #90C41F;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
                margin-bottom: 96px;
                margin-top: 24px;
            }

                .zhmm01 #pwdnext:hover {
                    background: #7bab14;
                }

            .zhmm01 .t1 {
                display: inline-block;
                width: 282px;
                text-align: right;
                padding-right: 10px;
            }

        .zhmm02 {
            background: #fff;
            width: 960px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.18);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.18);
            box-shadow: 0 0 10px rgba(0,0,0,.18);
            padding: 20px;
            /*text-align: center;*/
        }

            .zhmm02 .top02 {
                margin: 0;
                margin-bottom: 80px;
                font-size: 12px;
                font-family: "宋体";
                color: #808080;
            }

                .zhmm02 .top02 b {
                    font-size: 24px;
                    color: #808080;
                    margin-right: 10px;
                }

            .zhmm02 div {
                text-align: center;
            }

            .zhmm02 .emsg {
                font-size: 18px;
                color: #646464;
                line-height: 30px;
                margin-top: 20px;
                margin-bottom: 106px;
            }

                .zhmm02 .emsg span {
                    font-size: 18px;
                    color: #646464;
                    line-height: 30px;
                    margin-top: 20px;
                    margin-bottom: 106px;
                }

        .zhmm01 .emailerr {
            font-family: "宋体";
            font-size: 12px;
            margin-left: 10px;
            color: #f43838;
        }

            .zhmm01 .emailerr s {
                display: inline-block;
                width: 15px;
                height: 17px;
                background: url(/Content/Img/icon.png) -60px -75px no-repeat;
                vertical-align: middle;
                margin-right: 4px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="tittop"><img src="/Content/Img/Logo.png" alt="" />爽赞通行证<span><b>已有账号，<a href="/Login/LoginCompany">马上登录</a></b><a href="/Home/Index">爽赞首页</a></span></div>
        <div class="zhmm01">
            <p class="top01">
                <b>找回密码</b>输入你的用户名/Email，服务器将把找回的密码发到你的邮箱。
            </p>
            <div>
                <p><span class="t1"></span><input type="text" placeholder="请输入您注册时填写的用户名/Email" class="zcsj" /><i class="emailerr"></i></p>
                <p><span class="t1"></span><input type="button" id="pwdnext" value="下一步，安全验证" /></p>
            </div>
        </div>
        <div class="zhmm02" style="display: none;">
            <p class="top02"><b>找回密码</b>输入你的用户名/Email，服务器将把找回的密码发到你的邮箱。</p>
            <div>
                <p><img src="/Content/Img/Email.png" alt="" /></p>
                <p class="emsg">我们已向您的注册邮箱<span></span>发送了<br />一封密码通知邮件，请您注意接收邮件</p>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
        $("#pwdnext").click(function () {
            var email = $(".zcsj").val();
            if (email == "") {
                $(".emailerr").html("<s></s>请输入邮箱")
            } else {
                $.ajax({
                    type: "Post",
                    url: "/Login/FindPwd",
                    data: {
                        email: email
                    },
                    success: function (data) {
                        //var p = data;
                        //console.log(p)
                        if (data== "no") {
                            $(".emailerr").html("<s></s>请输入正确的邮箱/用户名")
                        } else {
                            var t1 = email.slice(0, 3);
                            var t2 = email.slice(-11);
                            console.log(t1, t2);
                            $(".emsg span").html(t1 + "****" + t2);
                            $(".zhmm01").hide();
                            $(".zhmm02").show();
                        }
                    },
                });
            }
        })
     });
    </script>
</body>
</html>
