@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>服务条款</title>
    <link href="/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="~/Content/Css/Service.css" rel="stylesheet" />
</head>
<body>
    <div id="dttop">
        <p><img src="/Content/Img/Logo.png" /><a href="/Home/Index">爽赞首页</a></p>
    </div>
    <div id="container">
        <p class="wzdt01">爽赞网服务使用协议</p>
        <div id="containerText">
            <p style="font-weight: bold;">一、接受条款</p>
            <p style="text-indent: 2em;color: #808080;">爽赞网根据以下服务条款为您提供服务。这些条款可由爽赞网随时更新，且毋须另行通知。爽赞网使用协议（以下简称“使用协议”）一旦发生变动，爽赞网将在网页上公布修改内容。修改后的使用协议一旦在网页上公布即有效代替原来的使用协议。此外，当您使用爽赞网特殊服务时，您和爽赞网应遵守爽赞随时公布的与该服务相关的指引和规则。前述所有的指引和规则，均构成本使用协议的一部分。</p>
            <p style="text-indent: 2em;color: #808080;">您在使用爽赞网提供的各项服务之前，应仔细阅读本使用协议。如您不同意本使用协议及/或随时对其的修改，请您立即停止使用爽赞游戏网所提供的全部服务；若您已经注册为本网站用户（以下简称“用户”），即表示您已充分阅读、理解并同意自己与本网站订立本使用协议，且您自愿受使用协议约束。本网站有权随时变更服务条款并在本网站上予以公告。经修订的条款一经在本网站的公布后，立即自动生效。</p>
            <p style="text-indent: 2em;color: #808080;">如您不同意相关变更，必须停止使用本网站。本服务条款内容包括正文及所有本网站已经发布的各类规则。所有规则为本使用协议不可分割的一部分，与本服务条款正文具有同等法律效力。一旦您继续使用本网站，则表示您已接受并自愿遵守经修订后的条款。</p>
            <p style="font-weight: bold;">二、服务说明</p>
            <p style="text-indent: 2em;color: #808080;">爽赞网目前向用户提供如下服务：在爽赞网中发布新闻、上传图片、网页游戏相关充值服务等。除非本使用协议另有其它明示规定，增加或强化目前本服务的任何新功能，包括所推出的新产品，均受到本使用协议之规范。您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，爽赞网均不承担任何责任。爽赞保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
            <p style="font-weight: bold;">三、遵守法律</p>
            <p style="text-indent: 2em;color: #808080;">您同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用您的密码和您的帐号使用本服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由您承担全部法律责任。</p>
            <p style="text-indent: 2em;color: #808080;">同时如果爽赞网有理由认为您的任何行为，包括但不限于您的任何言论和其它行为违反或可能违反国家法律和法规的任何规定，爽赞网可在任何时候不经任何事先通知终止向您提供服务。</p>
            <p style="font-weight: bold;">四、您的注册义务</p>
            <p style="text-indent: 2em;color: #808080;">1、为了能使用本服务，您同意以下事项：依本服务注册提示请您填写正确的注册邮箱、密码和名号，并确保今后更新的登录邮箱、名号、头像等资料的有效性和合法性。若您提供任何违法、不道德或爽赞网认为不适合在爽赞上展示的资料；或者爽赞网有理由怀疑你的资料属于程序或恶意操作，爽赞网有权暂停或终止您的帐号，并拒绝您于现在和未来使用本服务之全部或任何部分。</p>
            <p style="text-indent: 2em;color: #808080;">2、只有符合下列条件之一的自然人或法人才能申请成为本网站用户，可以使用本网站的服务：</p>
            <p style="text-indent: 4em;color: #808080;">A、年满十八岁，并具有民事权利能力和民事行为能力的自然人；</p>
            <p style="text-indent: 4em;color: #808080;">B、无民事行为能力人或限制民事行为能力人应经过其监护人的同意；</p>
            <p style="text-indent: 4em;color: #808080;">C、根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织。无法人资格的单位或组织不当注册为本网站用户的，其与本网站之间的协议自始无效，本网站一经发现，有权立即终止对该用户的服务，并追究其使用本网站服务的一切法律责任。</p>
            <p style="text-indent: 2em;color: #808080;">3、用户需要提供明确的联系地址和联系电话，并提供真实姓名或名称。但爽赞网无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及/或是否为最新资料的责任。</p>
            <p style="text-indent: 2em;color: #808080;">4、本网站用户须承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性。</p>
            <p style="font-weight: bold;">五、用户帐号、密码及安全</p>
            <p style="text-indent: 2em;color: #808080;">完成本服务的注册程序并成功注册之后，您可使用您的手机号和密码，登录到您在爽赞网的帐号（下称“帐号”）。保护您的帐号安全，是您的责任。</p>
            <p style="text-indent: 2em;color: #808080;">您应对所有使用您的密码及帐号的活动负完全的责任。您同意：</p>
            <p style="text-indent: 4em;color: #808080;">1）您的爽赞网帐号遭到未获授权的使用，或者发生其它任何安全问题时，您将立即通知爽赞网；</p>
            <p style="text-indent: 4em;color: #808080;">2）如果您未保管好自己的帐号和密码，因此而产生的任何损失或损害，爽赞网无法也不承担任何责任；</p>
            <p style="text-indent: 4em;color: #808080;">3）每个用户都要对其帐号中的所有行为和事件负全责。如果您未保管好自己的帐号和密码而对您、爽赞网或第三方造成的损害，您将负全部责任。</p>
            <p style="font-weight: bold;">六、爽赞网隐私权政策</p>
            <p style="text-indent: 2em;color: #808080;">1、信息使用：</p>
            <p style="text-indent: 4em;color: #808080;">A、本网站不会向任何人出售或出借用户的个人或法人信息，除非事先得到用户得许可；</p>
            <p style="text-indent: 4em;color: #808080;">B、本网站亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人或法人信息。任何用户如从事上述活动，一经发现，本网站有权立即终止与该用户的服务协议，查封其账号。</p>
            <p style="text-indent: 2em;color: #808080;">2、信息披露：用户的个人或法人信息将在下述情况下部分或全部被披露：</p>
            <p style="text-indent: 4em;color: #808080;">A、经用户同意，向第三方披露；</p>
            <p style="text-indent: 4em;color: #808080;">B、用户在使用本网站过程中涉及到知识产权类纠纷，有他方主张权利的，本网站在审核主张方提交的资料后认为披露用户信息有助于纠纷解决的；</p>
            <p style="text-indent: 4em;color: #808080;">C、根据法律的有关规定，或者行政、司法机关的要求，向第三方或者行政、司法机关披露；</p>
            <p style="text-indent: 4em;color: #808080;">D、若用户出现违反中国有关法律或者网站规定的情况，需要向第三方披露；</p>
            <p style="text-indent: 4em;color: #808080;">E、为提供你所要求的产品和服务，而必须和第三方分享用户的个人或法人信息；</p>
            <p style="text-indent: 4em;color: #808080;">F、其它本网站根据法律或者网站规定认为合适的披露。</p>
            <p style="text-indent: 2em;color: #808080;">3、信息安全：</p>
            <p style="text-indent: 4em;color: #808080;">A、在使用本网站服务进行网上交易时，请用户妥善保护自己的个人或法人信息，仅在必要的情形下向他人提供；</p>
            <p style="text-indent: 4em;color: #808080;">B、如果用户发现自己的个人或法人信息泄密，尤其是用户账户或“支付账户管理”账户及密码发生泄露，请用户立即联络本网站客服，以便我们采取相应措施。</p>
            <p style="text-indent: 2em;color: #808080;">4、对于用户提供及发布除个人信息外的文字、图片、视频、音频等非个人信息，在版权保护期内用户免费授予本网站经营方及其关联公司获得全球排他的许可使用权利及再授权给其他第三方使用的权利。本网站经营方及其关联公司可以存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。</p>
            <p style="text-indent: 2em;color: #808080;">5、用户免费授权本网站经营公司将用户在账户注册和使用本网站服务过程中提供、形成的信息传递给本网站经营公司等其他相关服务提供者，或从本网站其他相关服务提供者获取用户在注册、使用相关服务期间提供、形成的信息。</p>
            <p style="font-weight: bold;">七、本网站的责任范围</p>
            <p style="text-indent: 2em;color: #808080;">当用户接受该条款时，用户应当明确了解并同意：</p>
            <p style="text-indent: 4em;color: #808080;">1、本网站不能随时预见到任何技术上的问题或其他困难。该等困难可能会导致数据损失或其他服务中断。本网站是在现有技术基础上提供的服务。本网站不保证以下事项∶</p>
            <p style="text-indent: 6em;color: #808080;">A、本网站将符合所有用户的要求；</p>
            <p style="text-indent: 6em;color: #808080;">B、本网站不受干扰、能够及时提供、安全可靠或免于出错；</p>
            <p style="text-indent: 6em;color: #808080;">C、本服务使用权的取得结果是正确或可靠的。</p>
            <p style="text-indent: 4em;color: #808080;">2、是否经由本网站下载或取得任何资料，由用户自行考虑、衡量并且自负风险，因下载任何资料而导致用户电脑系统的任何损坏或资料流失，用户应负完全责任。希望用户在使用本网站时，小心谨慎并运用常识；</p>
            <p style="text-indent: 4em;color: #808080;">3、用户经由本网站取得的建议和资讯，无论其形式或表现，绝不构成本协议未明示规定的任何保证；　</p>
            <p style="text-indent: 4em;color: #808080;">4、基于以下原因而造成的利润、商誉、使用、资料损失或其它无形损失，本网站不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿（即使本网站已被告知前款赔偿的可能性）：</p>
            <p style="text-indent: 6em;color: #808080;">A、本网站的使用或无法使用；</p>
            <p style="text-indent: 6em;color: #808080;">B、用户的传输或资料遭到未获授权的存取或变更；</p>
            <p style="text-indent: 6em;color: #808080;">C、本网站中任何第三方之声明或行为； </p>
            <p style="text-indent: 6em;color: #808080;">D、本网站在服务交易中为用户提供交易机会，推荐交易方；</p>
            <p style="text-indent: 6em;color: #808080;">E、本网站其它相关事宜。</p>
            <p style="text-indent: 4em;color: #808080;">5、本网站只是为用户提供一个服务交易的平台，对于网站用户所发布的需求的合法性、真实性及其品质，以及用户履行交易的能力等，本网站一律不负任何担保责任；</p>
            <p style="text-indent: 4em;color: #808080;">6、本网站提供与其它互联网上的网站或资源的链接，用户可能会因此连结至其它运营商经营的网站，但不表示本网站与这些运营商有任何关系。其它运营商经营的网站均由各经营者自行负责，不属于本网站控制及负责范围之内。对于存在或来源于此类网站或资源的任何内容、广告、物品或其它资料，本网站亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、物品或服务所产生的任何损害或损失，本网站不负任何直接或间接的责任。</p>
            <p style="text-indent: 4em;color: #808080;">7、因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本协议所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、瘟疫、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。</p>
            <p style="font-weight: bold;">八、用户的权利和义务</p>
            <p style="text-indent: 2em;color: #808080;">1、用户有权根据本协议及本网站发布的相关规则，利用本网站发布新闻、上传图片、获得与网页游戏相关的充值服务等，在本网站社区及相关产品发布信息，参加本网站的有关活动及有权享受本网站提供的其他有关资讯及信息服务。用户对账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、充值服务及提供服务等）负责；</p>
            <p style="text-indent: 2em;color: #808080;">2、用户须自行负责自己的用户账号和密码，且须对在用户账号密码下发生的所有活动（包括但不限于发布新闻、网上点击同意各类协议、规则、充值服务等）承担责任。用户有权根据需要更改登录和账户提现密码。因用户的过错导致的任何损失由用户自行承担，该过错包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，用户使用的计算机被他人侵入；</p>
            <p style="text-indent: 2em;color: #808080;">3、用户应当向本网站提供真实准确的注册信息，包括但不限于真实姓名、身份证号、联系电话、地址、邮政编码等。保证本网站可以通过上述联系方式与自己进行联系。同时，用户也应当在相关资料实际变更时及时更新有关注册资料。如本网站按用户最后一次提供的信息与用户联系未果、用户未按本协议的要求及时提供信息、提供的信息存在明显不实的，用户将承担因此对本网站、第三人及自身的全部损失与不利后果；</p>
            <p style="text-indent: 2em;color: #808080;">4、 用户在本网站注册的账号名称，不得有下列情形：</p>
            <p style="text-indent: 4em;color: #808080;">（一）违反宪法或法律法规规定的；</p>
            <p style="text-indent: 4em;color: #808080;">（二）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
            <p style="text-indent: 4em;color: #808080;">（三）损害国家荣誉和利益的，损害公共利益的；</p>
            <p style="text-indent: 4em;color: #808080;">（四）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
            <p style="text-indent: 4em;color: #808080;">（五）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
            <p style="text-indent: 4em;color: #808080;">（六）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
            <p style="text-indent: 4em;color: #808080;">（七）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
            <p style="text-indent: 4em;color: #808080;">（八）侮辱或者诽谤他人，侵害他人合法权益的；</p>
            <p style="text-indent: 4em;color: #808080;">（九）含有法律、行政法规禁止的其他内容的。</p>
            <p style="text-indent: 2em;color: #808080;">5、用户不得以虚假信息骗取账号名称注册，或其账号头像、简介等注册信息存在违法和不良信息；</p>
            <p style="text-indent: 2em;color: #808080;">6、用户不得冒用、关联机构或社会名人注册账号名称；</p>
            <p style="text-indent: 2em;color: #808080;">7、用户不得以任何形式擅自转让或授权他人使用自己在本网站的用户帐号（实名认证通过后，不能进行变更）；</p>
            <p style="text-indent: 2em;color: #808080;">8、用户有义务确保在本网站上发布的需求信息真实、准确，无误导性；</p>
            <p style="text-indent: 2em;color: #808080;">9、用户在本网站上发布需求和在社区内及相关产品发布信息，不得违反国家法律、法规、行政规章的规定、不得侵犯他人知识产权或其他合法权益的信息、不得违背社会公共利益或公共道德、不得违反本网站的相关规定；</p>
            <p style="text-indent: 2em;color: #808080;">10、用户在本网站交易中应当遵守诚实信用原则，不得以干预或操纵发布需求等不正当竞争方式扰乱网上交易秩序，不得从事与网上交易无关的不当行为。用户的促销推广行为应当符合我国法律规定；</p>
            <p style="text-indent: 2em;color: #808080;">11、用户不应采取不正当手段（包括但不限于虚假需求、互换好评等方式）提高自身或他人信用度，或采用不正当手段恶意评价其他用户，降低其他用户信用度；</p>
            <p style="text-indent: 2em;color: #808080;">12、用户不得违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）；</p>
            <p style="text-indent: 2em;color: #808080;">13、用户承诺自己在使用本网站实施的所有行为遵守法律、法规、行政规章和本网站的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以自己的名义独立承担相应的法律责任；</p>
            <p style="text-indent: 2em;color: #808080;">14、用户在本网站网上交易过程中如与其他用户因交易产生纠纷，可以请求本网站从中予以协调处理。用户如发现其他用户有违法或违反本协议的行为，可以向本网站举报；</p>
            <p style="text-indent: 2em;color: #808080;">15、除本网站另有规定外，用户应当自行承担因交易产生的相关费用，并依法纳税；</p>
            <p style="text-indent: 2em;color: #808080;">16、未经本网站书面允许，用户不得将本网站的任何资料以及在交易平台上所展示的任何信息作商业性利用（包括但不限于以复制、修改、翻译等形式制作衍生作品、分发或公开展示）；</p>
            <p style="text-indent: 2em;color: #808080;">17、用户不得使用以下方式登录网站或破坏网站所提供的服务：</p>
            <p style="text-indent: 4em;color: #808080;">A、以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件或其它自动方式访问或登录本网站；</p>
            <p style="text-indent: 4em;color: #808080;">B、通过任何方式对本公司内部结构造成或可能造成不合理或不合比例的重大负荷的行为；</p>
            <p style="text-indent: 4em;color: #808080;">C、通过任何方式干扰或试图干扰网站的正常工作或网站上进行的任何活动。</p>
            <p style="text-indent: 2em;color: #808080;">18、用户同意接收来自本网站的信息，包括但不限于活动信息、交易信息、促销信息等。</p>
            <p style="text-indent: 2em;color: #808080;">19、用户了解并同意，如在本网站完成注册并在本网站成功完成实名认证，则用户即获得登陆账号，以后交易、发布信息、参与交易等都需要通过该账号进行操作。</p>
            <p style="font-weight: bold;">九、国际使用之特别警告</p>
            <p style="text-indent: 2em;color: #808080;">用户已了解国际互联网的无国界性，同意遵守当地所有关于网上行为及内容之法律法规。用户特别同意遵守有关从中国或您所在国家或地区输出信息之传输的所有适用法律法规。</p>
            <p style="font-weight: bold;">十、用户在爽赞网发布的公开信息</p>
            <p style="text-indent: 2em;color: #808080;">用户在爽赞网上传或发布的内容，用户应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益，用户同意授予爽赞网所有上述内容在全球范围内的免费、不可撤销的、无期限限制的、可再许可或转让的独家使用权许可，据该许可爽赞网将有权以展示、推广及其他不为我法律所禁止的方式使用前述内容。</p>
            <p style="font-weight: bold;">十一、赔偿</p>
            <p style="text-indent: 2em;color: #808080;">由于您通过本服务提供、发布或传送之内容、您与本服务连线、您违反本使用协议、或您侵害他人任何权利因而衍生或导致任何第三人提出任何索赔或请求，包括合理的律师费，您同意赔偿爽赞及其子公司、关联企业、高级职员、代理人、品牌共有人或其它合作伙伴及员工，并使其免受损害，并承担由此引发的全部法律责任。</p>
            <p style="font-weight: bold;">十二、关于使用及储存之一般措施</p>
            <p style="text-indent: 2em;color: #808080;">您同意不对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
            <p style="text-indent: 2em;color: #808080;">您承认关于本服务的使用爽赞有权制订一般措施及限制，包含但不限于本服务将保留所发布内容或其它发布内容之最长期间，以及一定期间内您使用本服务之次数上限（及每次使用时间之上限）。通过本服务发布或传送之任何信息、通讯资料和其它内容，如被删除或未予储存，您同意爽赞网毋须承担任何责任。您也同意，爽赞网有权依其自行之考虑，不论通知与否，随时变更这些一般措施及限制。</p>
            <p style="font-weight: bold;">十三、服务之修改</p>
            <p style="text-indent: 2em;color: #808080;">爽赞网有权于任何时间暂时或永久修改或终止本服务（或其任何部分），且无论通知与否。您同意对于本服务所作的任何修改、暂停或终止，爽赞网对您和任何第三人均无需承担任何责任。</p>
            <p style="font-weight: bold;">十四、服务的中断和终止</p>
            <p style="text-indent: 2em;color: #808080;">1、本网站可自行全权决定以任何理由(包括但不限于本网站认为用户已违反本条款及相关规则的字面意义和精神，或用户在超过180日内未登录本网站等)终止对用户的服务，并有权删除已终止服务用户在本网站的全部资料（包括但不限于用户信息、产品信息、交易信息、充值记录等）。同时本网站可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供全部或部分服务。服务终止后，本网站没有义务为用户保留原账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方；</p>
            <p style="text-indent: 2em;color: #808080;">2、若用户申请终止本网站服务，需经本网站审核同意，方可解除与本网站的协议关系，但本网站仍保留下列权利：</p>
            <p style="text-indent: 4em;color: #808080;">A、本网站有权在法律、法规、行政规章规定的时间内保留该用户的资料,包括但不限于以前的用户资料、交易记录、充值记录等；</p>
            <p style="text-indent: 4em;color: #808080;">B、若终止服务之前，该用户在本网站上存在违法行为或违反本协议的行为，本网站仍可行使本协议所规定的权利。</p>
            <p style="text-indent: 2em;color: #808080;">3、用户存在下列情况，本网站可以终止向该用户提供服务：</p>
            <p style="text-indent: 4em;color: #808080;">A、在用户违反本条款及相关规则规定时，本网站有权终止向该用户提供服务。本网站将在中断服务时通知用户。但该用户在被本网站终止提供服务后，再一次直接或间接或以他人名义注册为本网站用户的，本网站有权再次单方面终止为该用户提供服务；</p>
            <p style="text-indent: 4em;color: #808080;">B、本网站发现用户注册资料中主要内容是虚假的，本网站有权随时终止为该用户提供服务；</p>
            <p style="text-indent: 4em;color: #808080;">C、本条款终止或更新时，用户未确认新的条款的；</p>
            <p style="text-indent: 4em;color: #808080;">D、其它本网站认为需终止服务的情况。</p>
            <p style="font-weight: bold;">十五、与广告商及其他第三方进行交易</p>
            <p style="text-indent: 2em;color: #808080;">您通过本网站与广告商及其他第三方进行任何形式的通讯或商业往来，或参与促销活动，包含相关商品或服务之付款及交付，以及达成的其它任何相关条款、条件、保证或声明，完全为您与广告商及其他第三方之间之行为。您因前述任何交易或前述广告商及其他第三方而遭受的任何性质的损失或损害，爽赞网对此不负任何法律责任。</p>
            <p style="font-weight: bold;">十六、知识产权</p>
            <p style="text-indent: 2em;color: #808080;">1、本网站及本网站所使用的任何相关软件、程序、内容，包括但不限于作品、图片、档案、资料、网站构架、网站版面的安排、网页设计、经由本网站或广告商向用户呈现的广告或资讯，均由本网站或其它权利人依法享有相应的知识产权，包括但不限于著作权、商标权、专利权或其它专属权利等，受到相关法律的保护。未经本网站或权利人明示授权，用户保证不修改、出租、出借、出售、散布本网站及本网站所使用的上述任何资料和资源，或根据上述资料和资源制作成任何种类产品；</p>
            <p style="text-indent: 2em;color: #808080;">2、本网站授予用户不可转移及非专属的使用权，使用户可以通过单机计算机使用本网站的目标代码（以下简称"软件"），但用户不得且不得允许任何第三方复制、修改、创作衍生作品、进行还原工程、反向组译，或以其它方式破译或试图破译源代码，或出售、转让"软件"或对"软件"进行再授权，或以其它方式移转" 软件"之任何权利。用户同意不以任何方式修改"软件"，或使用修改后的"软件"；</p>
            <p style="text-indent: 2em;color: #808080;">3、用户不得经由非本网站所提供的界面使用本网站。</p>
            <p style="font-weight: bold;">十七、担保与保证</p>
            <p style="text-indent: 2em;color: #808080;">您明确了解并同意∶</p>
            <p style="text-indent: 4em;color: #808080;">1）本使用协议的任何规定不会免除爽赞对造成您人身伤害的、或因故意或重大过失造成您财产损失的任何责任；</p>
            <p style="text-indent: 4em;color: #808080;">2）您使用本服务之风险由您个人负担。本服务系依“现状”及“现有”基础提供。爽赞网对本服务不提供任何明示或默示的担保或保证，包含但不限于商业适售性、特定目的之适用性及未侵害他人权利等担保或保证；</p>
            <p style="text-indent: 4em;color: #808080;">3）爽赞网不保证以下事项∶</p>
            <p style="text-indent: 6em;color: #808080;">本服务将符合您的要求；</p>
            <p style="text-indent: 6em;color: #808080;">本服务将不受干扰、及时提供、安全可靠或不会出错；</p>
            <p style="text-indent: 6em;color: #808080;">使用本服务取得之结果正确可靠；</p>
            <p style="text-indent: 6em;color: #808080;">您经由本服务购买或取得之任何产品、服务、资讯或其它信息将符合您的期望；</p>
            <p style="text-indent: 4em;color: #808080;">4）是否使用本服务下载或取得任何资料应由您自行考虑且自负风险，因任何资料之下载而导致的您电脑系统之任何损坏或数据流失等后果，由您自行承担；</p>
            <p style="text-indent: 4em;color: #808080;">5）您自爽赞网或经由本服务取得的任何建议或信息，无论是书面或口头形式，除非本使用协议有明确规定，将不构成本使用协议以外之任何保证。</p>
            <p style="font-weight: bold;">十八、保密条款</p>
            <p style="text-indent: 2em;color: #808080;">用户保证在使用本网站过程中所获悉的属于本网站及他方的且无法自公开渠道获得的文件及资料（包括但不限于商业秘密、公司计划、运营活动、财务信息、技术信息、经营信息及其他商业秘密）予以保密。未经该资料和文件的原提供方同意，用户不得向第三方泄露该商业秘密的全部或者部分内容。但法律、法规、行政规章另有规定或者双方另有约定的除外。</p>
            <p style="font-weight: bold;">十九、爽赞网商标信息</p>
            <p style="text-indent: 2em;color: #808080;">爽赞网、以及其它爽赞注册商标、标志及产品、服务名称，均为爽赞网之商标（以下简称“爽赞标记”）。未经爽赞事先书面同意，您同意不将爽赞标记以任何方式展示或使用或作其它处理，或表示您有权展示、使用或另行处理爽赞标记。</p>
            <p style="font-weight: bold;">二十、用户专属权利</p>
            <p style="text-indent: 2em;color: #808080;">爽赞网尊重他人知识产权，呼吁用户也要同样尊重知识产权。</p>
            <p style="text-indent: 2em;color: #808080;">如果您对他人的知识产权造成了侵害，爽赞网将依国家法律法规的规定，或在适当的情形下，将依其服务条款或其相关规范性规定，删除特定内容或以至终止您对账户的使用。</p>
            <p style="text-indent: 2em;color: #808080;">爽赞网尊重他人的任何权利（包括知识产权），同时也要求我们的使用者也尊重他人之权利。爽赞网在适当情况下，得自行决定终止侵害或违反他人权利之使用者的帐号。</p>
            <p style="text-indent: 2em;color: #808080;">若您认为您的作品的著作权遭到侵害或您的知识产权被侵犯，根据《信息网络传播权保护条例》的规定，您需及时向爽赞网联系并提供详实的举证材料。或请到中华人民共和国国家版权局下载《要求删除或断开链接侵权网络内容的通知》（下称“删除通知”）的示范格式，如果您不明白“删除通知”的内容，请登录中华人民共和国国家版权局查看《要求删除或断开链接侵权网络内容的通知》填写说明。</p>
            <p style="text-indent: 2em;color: #808080;">您同意保障和维护爽赞网及其他用户的利益，如因您违反有关法律、法规或本协议项下的任何条款而给爽赞网或任何其他第三人造成损失，您同意承担由此造成的全部损害赔偿责任。</p>
            <p style="font-weight: bold;">二十一、 纠纷解决方式</p>
            <p style="text-indent: 2em;color: #808080;">1、本协议及其规则的有效性、履行和与本协议及其规则效力有关的所有事宜，将受中华人民共和国法律管辖，任何争议仅适用中华人民共和国法律；</p>
            <p style="text-indent: 2em;color: #808080;">2、本网站有权受理并调处您与其他用户因服务产生的纠纷，同时有权单方面独立判断其他用户对您的举报及索偿是否成立，若判断索偿成立，则本网站有权划拨您已支付的担保金或交纳的保证金以及账户余额进行相应偿付。本网站没有使用自用资金进行偿付的义务，但若进行了该等支付，您应及时赔偿本网站的全部损失，否则本网站有权通过前述方式抵减相应资金或权益，如仍无法弥补损失，则本网站保留继续追偿的权利。因本网站非司法机关，您完全理解并承认，本网站对证据的鉴别能力及对纠纷的处理能力有限，受理交易纠纷完全是基于您之委托，不保证处理结果符合您的期望，本网站有权决定是否参与争议的调处；</p>
            <p style="text-indent: 2em;color: #808080;">3、凡因履行本协议及其规则发生的纠纷以及在本网站上交易产生的所有纠纷，各方可协商解决，若协商不成提起诉讼的，由杭州市滨拱墅区人民法院管辖。 </p>
            <p style="font-weight: bold;">二十二、 完整协议</p>
            <p style="text-indent: 2em;color: #808080;">1、本协议由本协议条款与本网站公示的各项规则共同组成，相关名词可互相引用参照，如有不同理解，以本协议条款为准。您对本协议理解和认同，您即对本协议所有组成部分的内容理解并认同，一旦您使用本服务，你和本公司即受本协议所有组成部分的约束。</p>
            <p style="text-indent: 2em;color: #808080;">2、“本网站”在无特别说明的情况下，均指" 爽赞网"（ http://www.shuangzan.com/    ）。</p>
            <p style="text-indent: 2em;color: #808080;">3、“用户”：指具有完全民事行为能力的本网站各项服务的使用者。</p>
            <p style="text-indent: 2em;color: #808080;">4、本网站对本服务协议包括基于本服务协议制定的各项规则拥有最终解释权。</p>
        </div>
        <p style="text-align: center;"><a id="closeBtn"><input type="button" value="朕知道了" /></a></p>
    </div>
    <script src="https://s95.cnzz.com/z_stat.php?id=1260848027&web_id=1260848027" language="JavaScript"></script>
</body>
</html>
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/myExtend.js"></script>
<script type="text/javascript">

    $("#closeBtn").click(function () {
        var form = $.getRequest("id");
        if (form == "2") {
            window.location.href = "/Login/RegCompany"
        } else {
            window.location.href = "/Login/RegCompany"
        }
    });
</script>
