 <!--登录弹框-->
<div class="loginbox display">
    <div>
        <p>登录爽赞通行证<a class="cel"></a></p>
        <div>
            <p class="loginname"><i></i><input type="text" placeholder="手机号/用户名" /></p>
            <p class="nameerr"><i></i><span></span></p>
            <p class="loginwpd"><i></i><input type="password" placeholder="密码" /></p>
            <p class="pwserr"><i></i><span></span><a href="/Login/FindUserPwd">忘记密码?</a></p>
            <p class="login"><i></i><input type="button" value="登录" class="loginbtn" /></p>
            <p class="morelogin"><i></i><label><input type="checkbox" value="1" id="autologin" /><span>下次自动登录</span></label><a href="/Login/RegPersonalUser">立即注册</a></p>
        </div>
    </div>
</div>
 <!-- 底部 -->
<div class="footer">
    <div class="footernr">
        <p class="footp1"> <a href="/Home/About" rel="nofollow" target="_blank">关于爽赞</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="/Home/Contact" rel="nofollow" target="_blank">联系我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="/Home/SiteMap" rel="nofollow" target="_blank">网站地图</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <a href="/Home/FeedBack" rel="nofollow" target="_blank">意见反馈</a> </p>
        <p class="footp2"> <span>网站备案：皖ICP备15025599号-2</span>&nbsp;&nbsp; <span>网络文化经营许可证编号：皖网文[2016]0965-020号</span></p>
        <p class="footp3"> <span>Copyright©2017 shuangzan.com All rights reserved.</span>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502004653" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="/Content/Img/beian.png" style="float:left;" />
                <span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#999;">浙公网安备 33010502004653号</span>
            </a>
        </p>
        <p class="footp4"> </p>
        <p class="footp5">
            <img src="/Content/Img/ewm.png" alt="" style="margin-right: 20px;border: 1px solid #90c41f;"> <img src="/Content/img/exl.png" alt="" style="border: 1px solid #90c41f;width:88px;"> <br>
            <img src="/Content/Img/wx.png" alt="" style="margin: 0 0 0 4px;"> <span style="display: inline-block;margin-top: 14px;font-size: 12px;color: #999;">扫码关注</span> <img src="/Content/Img/wb.png" alt="" style="margin: 0 0 0 36px;"> <span style="font-size: 12px;color: #999;">扫码关注</span>
        </p>
    </div>
</div>
<!-- 回到顶部 -->
<div class="fixed-top" style="display:none;">
    <div> <a id="gotop" title="回到顶部"></a> </div>

</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f9e966c31b48ba96382a5e18a6be25ed";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>