@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=1124">
    <link href="~/Content/Css/about.css" rel="stylesheet" />
    <link href="/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <title>关于爽赞</title>
</head>
<body>
    <div id="dttop">
        <p><img src="/Content/Img/Logo.png" /><a href="/Home/Index">爽赞首页</a></p>
    </div>
    <div id="container">
        <p class="wzdt01"><i></i><b>关于爽赞</b></p>
        <p style="margin-top:40px;text-indent:2em;">爽赞网（shuangzan.com）隶属于芜湖诺森网络科技有限公司，致力于打造中国最炫最酷的网页游戏门户社区，以专注的态度为游戏用户及游戏企业提供全方位多元化的内容资讯、互动娱乐及增值服务。</p>
        <p style="text-indent:2em;">作为业界新锐页游资讯媒体，爽赞网秉乘一站式服务理念与媒体整合运营模式，建立最大、最广、最专业的新闻中心和游戏资料数据库，为广大游戏玩家提供全方位的体验。</p>
        <p style="text-indent:2em;margin-top:12px;">站点目前开设有新闻、游戏、开服、开测、攻略、礼包、福利 7 大板块。</p>
        <p style="text-indent:2em;margin-top:12px;">新闻区：汇聚最前沿的游戏动态及产业资讯，分享最热门的新闻趣事及美女图片，娱乐玩家们的游戏生活。</p>
        <p style="text-indent:2em;">游戏区：汇聚当下热门网页游戏，提供各类游戏好玩的攻略、游戏截图、开服信息等。</p>
        <p style="text-indent:2em;">开服区：汇聚当下厂商提供的各类游戏开服信息，给玩家带来最新的开服动态。</p>
        <p style="text-indent:2em;">开测区：提供最适时的新游点评和深度评测，各种新游先睹为快！</p>
        <p style="text-indent:2em;">攻略区：汇聚当下热门游戏独家攻略，不求天长地久，只愿给你所有！</p>
        <p style="text-indent:2em;">礼包区：汇聚当下热门游戏专属礼包，只为你提供独一无二！</p>
        <p style="text-indent:2em;">福利区：为玩家提供最新最优活动，体验更好玩游戏，逆天福利尽在爽赞！</p>
        <p style="text-indent:2em;margin-top:12px;">用心做产品，踏实做内容，在爽赞不断发展的同时，我们得到了海量玩家的热心拥护，以及众多合作伙伴的鼎力支持，这对我们来说是一笔无价的财富，每个爽赞人肩负的责任将更加重大，我们将更加用心规划、经营着属于大家的爽赞。未来的爽赞网必将不负众望，为玩家、为厂商、为整个页游生态链的发展竭心尽力，打造一个精彩的、全面的、有态度的网页游戏门户社区。</p>
        <p style="text-indent:2em;">感谢所有支持我们的游戏玩家，您们的支持就是我们最大的动力！</p>
        <p style="text-indent:2em;">感谢所有支持我们的合作伙伴，期待与更多运营商、合作商携手并进，共创辉煌！</p>
    </div>
    <div class="footer">
        <div class="footernr">
            <p class="footp1"><a href="/Home/About" rel="nofollow" target="_blank">关于爽赞</a>|<a href="/Home/Contact" rel="nofollow" target="_blank">联系我们</a>|<a href="/Home/SiteMap" rel="nofollow" target="_blank">网站地图</a>|<a href="/Home/FeedBack" rel="nofollow" target="_blank">意见反馈</a></p>
            <p class="footp2"><span>网站备案：皖ICP备15025599号-2</span><span>网络文化经营许可证编号：皖网文[2016]0965-020号</span></p>
        </div>
    </div>
</body>
</html>
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/amoywel.js"></script>
<script src="~/Content/js/personal_use.js"></script>
<script src="~/Content/js/Public.js"></script>
