@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=1124">
    <link href="~/Content/Css/about.css" rel="stylesheet" />
    <link href="/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <title>联系我们</title>
</head>
<body>
    <div id="dttop">
        <p><img src="/Content/Img/Logo.png" /><a href="/Home/Index">爽赞首页</a></p>
    </div>
    <div id="container">
        <p class="wzdt01"><i></i><b>合作事宜</b></p>
        <ul id="hzsy">
            <li>
                <p>广告投放</p>
                <span>联系QQ：<a href="tencent://message/?uin=2885605333&Site=爽赞游戏网&Menu=yes">2885605333</a></span>
            </li>
            <li>
                <p>新闻预约</p>
                <span>联系QQ：<a href="tencent://message/?uin=2885630190&Site=爽赞游戏网&Menu=yes">2885630190</a></span>
            </li>
            <li>
                <p>新游入库</p>
                <span>联系QQ：<a href="tencent://message/?uin=2885630190&Site=爽赞游戏网&Menu=yes">2885630190</a></span>
            </li>
            <li>
                <p>新游开测</p>
                <span>联系QQ：<a href="tencent://message/?uin=2885630190&Site=爽赞游戏网&Menu=yes">2885630190</a></span>
            </li>
            <li>
                <p>友情链接</p>
                <span>联系QQ：<a href="tencent://message/?uin=2885657218&Site=爽赞游戏网&Menu=yes">2885657218</a></span>
            </li>
            <li>
                <p>产业/采访</p>
                <span>联系QQ：<a href="tencent://message/?uin=2885652516&Site=爽赞游戏网&Menu=yes">2885652516</a></span>
            </li>
        </ul>
    </div>
    <div class="footer">
        <div class="footernr">
            <p class="footp1"><a href="/Home/About" rel="nofollow" target="_blank">关于爽赞</a>|<a href="/Home/Contact" rel="nofollow" target="_blank">联系我们</a>|<a href="/Home/SiteMap" rel="nofollow" target="_blank">网站地图</a>|<a href="/Home/FeedBack" rel="nofollow" target="_blank">意见反馈</a></p>
            <p class="footp2"><span>网站备案：皖ICP备15025599号-2</span><span>网络文化经营许可证编号：皖网文[2016]0965-020号</span></p>
        </div>
    </div>
</body>
</html>
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/amoywel.js"></script>
<script src="~/Content/js/personal_use.js"></script>
<script src="~/Content/js/Public.js"></script>
