@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=1124">
    <link href="~/Content/Css/about.css" rel="stylesheet" />
    <link href="/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <title>网站地图</title>
</head>
<body>
    <div id="dttop">
        <p><img src="/Content/Img/Logo.png" /><a href="/Home/Index">爽赞首页</a></p>
    </div>
    <div id="container">
        <p class="wzdt01"><i></i><b>网站地图</b></p>
        <div class="sitemap">
            <p><i></i><a href="/NewsInfo/News" style="padding-left: 0;margin-right:12px;font-weight: bold;">看新闻</a><a href="/NewsInfo/MoreNewGameNews">新游在线</a>|<a href="/NewsInfo/MoreHotGameNews">热游动态</a>|<a href="/NewsInfo/MoreIndustryNews">产业资讯</a>|<a href="/NewsInfo/FunNews">娱乐八卦</a></p>
            <p><i></i><a href="/Game/GameIndex" style="padding-left: 0;margin-right:12px;font-weight: bold;">找游戏</a></p>
            <p><i></i><a href="/OPenServices/ServiceSearch" style="padding-left: 0;margin-right:12px;font-weight: bold;">搜开服</a><a href="/OPenServices/ServiceIndex">今日开服</a>|<a href="/Openservices/TestIndex">开测表</a>|<a href="/OPenServices/TestCalendar">测试日历</a></p>
            <p><i></i><a href="/Raiders/RaidersIndex" style="padding-left: 0;margin-right:12px;font-weight: bold;">查攻略</a></p>
            <p><i></i><a href="/Package/PackageIndex" style="padding-left: 0;margin-right:12px;font-weight: bold;">寻礼包</a></p>
            <p><i></i><a href="/Home/AmoyWelFare" style="padding-left: 0;margin-right:12px;font-weight: bold;">淘福利</a><a href="/Home/DemoList">游戏试玩</a>|<a href="/Amoywel/cz.html">爽币充值</a>|<a href="/Gift/GiftList">爽币换礼品</a></p>
            <p><i></i><a href="/BeautyGirl/GirlIndex" style="padding-left: 0;margin-right:12px;font-weight: bold;">福利美图</a></p>
            <p><i></i><a href="/Home/Manufacturer" style="padding-left: 0;margin-right:12px;font-weight: bold;">厂商大全</a></p>
        </div>
    </div>
    <div class="footer">
        <div class="footernr">
            <p class="footp1"><a href="/Home/About" rel="nofollow" target="_blank">关于爽赞</a>|<a href="/Home/Contact" rel="nofollow" target="_blank">联系我们</a>|<a href="/Home/SiteMap" rel="nofollow" target="_blank">网站地图</a>|<a href="/Home/FeedBack" rel="nofollow" target="_blank">意见反馈</a></p>
            <p class="footp2"><span>网站备案：皖ICP备15025599号-2</span><span>网络文化经营许可证编号：皖网文[2016]0965-020号</span></p>
        </div>
    </div>
</body>
</html>
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/amoywel.js"></script>
<script src="~/Content/js/personal_use.js"></script>
<script src="~/Content/js/Public.js"></script>
