@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>爽赞</title>
    <meta charset="UTF-8">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            font-family: "Microsoft YaHei";
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .title {
            background-color: #f9f9f9;
            height: 30px;
            line-height: 30px;
        }

            .title span {
                border-left: 4px solid #8fbf02;
                display: block;
                float: left;
                padding-left: 8px;
                font-size: 16px;
            }

        .main table {
            background-color: #a5a5a5;
            width: 100%;
            margin: 10px 0 20px 0;
        }

            .main table tr.h td {
                text-align: center;
                background-color: #92d051;
                font-size: 14px;
                color: #fff;
            }

        .main td {
            height: 30px;
            background-color: #fff;
        }

        #top {
            background-color: #fafafa;
            height: 30px;
            line-height: 30px;
            margin-bottom: 20px;
            padding-left: 5px;
            font-size: 14px;
        }

            #top a {
                background: url(/Content/Img/131.jpg) left center no-repeat;
                padding-left: 80px;
                display: inline-block;
                text-decoration: none;
                color: #646464;
            }

        #main1 div {
            background: url(/Content/Img/130.jpg) center no-repeat;
            width: 366px;
            height: 169px;
            float: left;
            clear: right;
        }

            #main1 div span {
                color: #fff;
                font-size: 16px;
                display: block;
                text-align: center;
                width: 100%;
                line-height: 50px;
            }

            #main1 div font {
                margin-top: 170px;
                margin-left: 35px;
                font-size: 14px;
                line-height: 22px;
            }
    </style>
</head>
<body>
    <div id="top">购买套餐联系QQ：<a href="tencent://message/?uin=2885605333&Site=爽赞游戏网&Menu=yes">2885605333</a></div>
    <div class="title">
        <span>套餐介绍</span>
    </div>
    <div class="main" style="padding:0;">
        <img src="/Content/Img/ad111.jpg" alt="价目表" style="margin-top:10px;margin-bottom:30px;">
        <!--  <table cellpadding="0" cellspacing="1">
             <tr class="h">
                 <td width="25%">套餐名称</td>
                 <td width="25%">套餐条数</td>
                 <td width="25%">套餐搭配名称</td>
                 <td width="25%">套餐总金额</td>
             </tr><tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>
         </table> -->
    </div>
    <div class="title">
        <span>打款帐号</span>
    </div>
    <div class="main" id="main1" style="padding-top:10px;">
        <div>
            <span>公对公帐户</span><br>
            <font>
                公司名称：芜湖诺森网络科技有限公司<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp开户银行：芜湖津盛农村商业银行股份有限公司<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp帐号：2000-0445-1771-1030-0000-059
            </font>
        </div>
        <div style="float:right;">
            <span>私对私帐户</span><br>
            <font>
                收款人：沈斌炬<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp开户银行：杭州联合农村商业银行祥符支行<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp帐号：6228-5801-9906-7319-045
            </font>
        </div>
    </div>
</body>
</html>