@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBeautifulGirls</title>
    <link href="~/Content/style/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style/fileinput.css" rel="stylesheet" />
    <link href="~/Content/style/custom/fileupload.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/respond.js"></script>
    <script src="~/Content/js/fileinput.js"></script>
    <script src="~/Content/js/fileinput_locale_zh.js"></script>
    <link href="~/Content/layui-v1.0.9_rls/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <script src="~/Content/layui-v1.0.9_rls/layui/lay/modules/layer.js"></script>
    <link href="~/Content/style/tableStyle.css" rel="stylesheet" />
    <style type="text/css">
        #tag label {
            float: left;
            margin: 8px 5px 0px 5px;
            white-space: pre-wrap;
        }
        #tag label input{
            margin-right:4px;
            font-size:68px;
        }
    </style>
</head>
<body>
    <fieldset>
        <table width="100%">
            <thead>
                <tr><th colspan="2" style="text-align:center;font-size:16px;">福利美图添加</th></tr>
            </thead>
            <tr>
                <td align="right">标题</td>
                <td><input name="title" type="text" id="title" class="form-control" style="width:450px;" /></td>
            </tr>
            <tr>
                <td align="right">引导语</td>
                <td>
                    <textarea class="form-control" rows="4" name="guideMsg" id="guideMsg" style="width:450px;height:120px;"></textarea>                 
                </td>
            </tr>
            <tr>
                <td align="right">标签</td>
                <td id="tag">
                    <label><input type="checkbox" value="性感" />性感</label>
                    <label><input type="checkbox" value="清纯" />清纯</label>
                    <label><input type="checkbox" value="可爱" />可爱</label>
                    <label><input type="checkbox" value="美腿" />美腿</label>
                    <label>  <input type="checkbox" value="唯美" />唯美</label>
                    <label><input type="checkbox" value="古典美女" />古典美女</label>
                    <label><input type="checkbox" value="制服诱惑" />制服诱惑</label>
                    <label><input type="checkbox" value="爆乳" />爆乳</label>
                    <label><input type="checkbox" value="COS" />COS</label>
                    <label><input type="checkbox" value="同人" />同人</label>
                    <label><input type="checkbox" value="自拍" />自拍</label>
                    <label><input type="checkbox" value="美景" />美景</label>
                    <label><input type="checkbox" value="抽象" />抽象</label>
                    <label><input type="checkbox" value="科幻" />科幻</label>
                    <label><input type="checkbox" value="体育" />体育</label>
                    <label><input type="checkbox" value="汽车" />汽车</label>
                    <label><input type="checkbox" value="二次元" />二次元</label>                  
                    <label><input type="checkbox" value="概念原画" />概念原画</label>
                    <label><input type="checkbox" value="明星"/>明星</label>
                </td>
            </tr>
            <tr>
                <td align="right">图片</td>
                <td>
                    <form id="form1" enctype="multipart/form-data" method="post" action="/AdminGame/ImgUpload">
                        <div class="row" style="margin-left:0;">
                            <input type="file" name="fileToUpload" style="display:inline-block" id="fileToUpload" onchange="fileSelected();" multiple="multiple" />
                            <input type="button" class="btn-file" onclick="uploadFile()" style="display:inline-block;background-color:#0066AA;color:white ;margin-bottom:20px;"  value="上传" />
                        </div>
                        <div id="fileName"></div>
                        <div id="fileSize"></div>
                        <div id="progressNumber"></div>
                        <div id="result"></div>
                        <div id="realyImg"></div>
                    </form>
                </td>
            </tr>
            <tr  id="imgTr">

            </tr>
            <tr>
                <td colspan="2" style="padding-left:10%;">
                    <button style="height:25px;padding-top:2px;" class="btn btn-primary" onclick="submitForm()">提交</button>
                    <button style="height: 25px; padding-top: 2px;" class="btn btn-primary" onclick="history.go(-1)">返回</button>
                </td>
            </tr>
        </table>
    </fieldset>
    <script type="text/javascript">
       
        //提交事件
        function submitForm() {
      
            if ($('#title').val() == "") {
                layer.msg("提示：请输入标题!");
                return;
            }
           var    oldimgs = $("#realyImg input").map(function () { return $(this).attr("value"); }).get().join(',');           
            console.log(oldimgs);
            var tags = $("#tag input:checked").map(function () { return $(this).val(); }).get().join(',');                    
            if (tags == "") {               
                layer.msg("提示：请选择至少一个标签!");
                return;
            }       
            layer.confirm('提示：您是否已确认输入无误？', {
                skin: 'layui-layer-lan',
                btn: ['是的', '没有呀'] //按钮
            }, function () {
                $.ajax({
                    url: '/AdminGame/AddGirls',
                    type: "post",
                    data: {                    
                        title: $('#title').val(),
                        tag: tags,
                        oldimgs: oldimgs,
                        guideMsg:$('#guideMsg').val()
                        //imgs:$("$files").val(),
                    },
                    success: function (data) {
                        if (data == "ok") {
                            layer.msg("恭喜：添加成功!");
                            window.setTimeout(function () {
                                window.location.href = "/AdminGame/BeautifulGirlsList";
                            }, 1300);
                        } else if (data == "no") {
                            layer.msg("提示：添加失败！");
                        } else {
                            layer.msg("提示：系统异常请稍候再试！");
                        }
                    },
                });
            });
        }
        //选择事件
        function fileSelected() {
            var files = document.getElementById('fileToUpload').files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (file) {
                    if (file.type != "image/jpeg" && file.type != "image/png" && file.type != "image/gif") {
                        layer.msg("请上传jpg,png,gif,zip,mp4格式的附件！");
                        return;
                    }
                    var fileSize = 0;
                    if (file.size > 1024 * 1024) {
                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    }
                    else {
                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
                        document.getElementById('fileName').innerHTML += '文件名' + i + ': ' + file.name + ' ';
                        document.getElementById('fileSize').innerHTML += '大小' + i + ': ' + fileSize + ' ';
                        //document.getElementById('fileType').innerHTML += '类型' + i + ': ' + file.type + ' ';
                    }                                                              
                }
            }           
        }
        //上传
        function uploadFile() {
            var files = document.getElementById('fileToUpload').files;
            if (files.length<=0) {
                layer.msg("温馨提示：您懂上传吗？");
            }
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (!file) { continue; }
                var fd = new FormData();
                fd.append("fileToUpload", file);
                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                xhr.addEventListener("error", uploadFailed, false);
                xhr.addEventListener("abort", uploadCanceled, false);
                xhr.open("POST", "/AdminGame/ImgUpload");
                xhr.send(fd);
            }
        }
        //上传进度条
        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete ="上传完成"+ Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                //无法计算
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }
        function uploadComplete(evt) {
            document.getElementById('result').innerHTML += "<div style='position:relative;display:inline-block;width:190px;border:solid 1px #ccc;'><a href='/Content/GirlImg/" + evt.target.responseText + "' target='_blank'><img src=/Content/GirlImg/" + evt.target.responseText + " style='height:80px;width:150px;' /></a><span style='position:absolute;bottom:0;left:158px;color:red;cursor:pointer;' class='delete-img'>删除</span></div>";
            //隐藏域的图片路径
            document.getElementById('realyImg').innerHTML += "<input type='hidden'  value=" + evt.target.responseText + "  />";
            $('.delete-img').each(function (index) {
                var _this = this;
                $(this).click(function () {
                    $(_this).parent('div').remove();
                    $('#realyImg input').eq(index).remove();
                })
            })
        }      
        function uploadFailed(evt) {
            layer.msg("文件上传出现错误啦");
        }
        function uploadCanceled(evt) {
            layer.msg("文件上传已被取消");
        }       
    </script>
</body>
</html>
